<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head">

    <meta charset="UTF-8">
    <title>Create Book</title>
</head>

<body>
<h2>Create Book</h2>
<a th:href="@{/}", style="color: blue">Book List</a>
<br><br>
<div id="form">
<form th:action="@{/create}" th:object="${book}" method="post">
    <table>
        <tr>
            <th>Name: </th>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <th>Count: </th>
            <td><input type="text" th:field="{count}"></td>
        </tr>
        <tr>
            <input type="submit" value="Create">
        </tr>
    </table>
</form>
</div>
<footer th:replace="layout::footer"></footer>
</body>
</html>