<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{common/layout::header}">
    <meta charset="UTF-8">
    <title>Create Customer</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
<div th:replace="~{common/layout::navbar}"></div>
<div class="container-fluid">
    <div class="row">

        <div class="col-lg-2">
            <div class="d-flex align-items-start">
                <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <br><br>
                    <button class="btn btn-warning" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true"><a th:href="@{/employee}">Back to List Employee</a></button>
                    <br>
                    <!--                    <button class="btn btn-warning" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="true"><a th:href="@{/create_contract_detail}">Create new Contract Detail</a></button>-->
                    <!--                    <br>-->
                    <!--                    <button class="btn btn-warning" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="true"><a th:href="@{/create_room}">Create Room</a></button>-->
                </div>
            </div>
        </div>

        <div class="col-sm-10" style="border-left: black solid">
            <h3 style="text-align: center">Create Employee</h3>
            <form th:action="@{/employee_create}" th:object="${employees}" method="post" style="text-align: center">
                <table>

                    <tr>
                        <td><input type="text" hidden th:field="*{id}"/></td>
                    </tr>
                    <tr>
                        <th>Name:</th>
                        <td><input type="text" th:field="*{name}"></td>
                    </tr>
                    <tr>
                        <th>Birthday:</th>
                        <td><input type="date" th:field="*{birthday}"></td>
                    </tr>
                    <tr>
                        <th>ID_Card:</th>
                        <td><input type="text" th:field="*{id_card}"></td>
                    </tr>
                    <tr>
                        <th>Salary:</th>
                        <td><input type="text" th:field="*{salary}"></td>
                    </tr>
                    <tr>
                        <th>Phone:</th>
                        <td><input type="text" th:field="*{phone}"></td>
                    </tr>
                    <tr>
                        <th>Email:</th>
                        <td><input type="text" th:field="*{email}"></td>
                    </tr>
                    <tr>
                        <th>Address:</th>
                        <td><input type="text" th:field="*{address}"></td>
                    </tr>
                    <tr>
                        <th>Position:</th>
                        <td>
                            <select class="form-control" th:field="*{position}">
                                <option th:each="positions :${position}"
                                        th:value="${positions.id}"
                                        th:text="${positions.name}"></option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>Education Degree:</th>
                        <td>
                            <select class="form-control" th:field="*{educationDegree}">
                                <option th:each="eduction :${educationDegree}"
                                        th:value="${eduction.id}"
                                        th:text="${eduction.name}"></option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>Division:</th>
                        <td>
                            <select class="form-control" th:field="*{division}">
                                <option th:each="divisions :${division}"
                                        th:value="${divisions.id}"
                                        th:text="${divisions.name}"></option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input class="btn btn-outline-info" type="submit" value="Create Employee"></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
<footer th:replace="~{common/layout::footer}"></footer>


</body>
</html>