<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{common/layout::header}">
    <meta charset="UTF-8">
    <title>Home</title>
<!--    <link rel="stylesheet" th:href="@{../static/css/bootstrap.min.css}">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<div th:replace="~{common/layout::navbar}"></div>
<body>
<div class="container">
    <div class="row">
        <div class="col-2">
            <p>abcd</p>
        </div>
        <div class="col-10">
            <p>efgh</p>
        </div>
    </div>
</div>

<footer th:replace="~{common/layout::footer}"></footer>
</body>
</html>