<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{common/layout::header}">
    <meta charset="UTF-8">
    <title>Customer</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
<div th:replace="~{common/layout::navbar}"></div>
<div class="row">
    <div class="col-sm-2">
        <a th:href="@{/create_customer}">Create new Customer</a>
    </div>


    <div class="col-sm-10" style="border-left: black solid">
        <h2 style="text-align: center">Customer</h2>
        <table class="table">
            <tr class="table-warning">
                <th>Name</th>
                <th>Gender</th>
                <th>Email</th>
                <th>Type</th>
                <th>Action</th>
            </tr>
            <tr th:each="customer: ${customers}" class="table-secondary">
                <td th:text="${customer.name}"></td>
                <td th:text="${customer.gender}"></td>
                <td th:text="${customer.email}"></td>
                <td th:text="${customer.customerType.customerType_name}"></td>
                <td><a th:href="@{/view_customer/__${customer.id}__ }">View</a></td>

            </tr>
        </table>

        <div>
            <a th:href="@{'/customer'(page=${customers.number - 1})}" th:if="${customers.hasPrevious()}">Previous</a>
            <span th:text="${customers.number + 1}"></span>/<span th:text="${customers.totalPages}"></span>
            <a th:href="@{'/customer'(page=${customers.number + 1})}" th:if="${customers.hasNext()}">Next</a>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
<footer th:replace="~{common/layout::footer}"></footer>
</body>
</html>